#gs-hovercard {
  // ToDo: Darkmode settings?
  background: #fff;
  color: black;
  font-weight: normal;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;

  border: solid 1px black;

  // ToDo: Move width to JavaScript-Settings
  max-width: 90vw;
  width: 500px;
}
